.navbar {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    background-color: rgba(228, 228, 228, 0.733);
}
.links {
    margin-left: auto;
}

.WebsiteName {
    font-size: 24px;
    font-weight: bolder;
    color: #1e48bdd0;
}

.navbar a {
    font-size: 17px;
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover {
    color: #a6622b;
}

.titlecard{
    display: flex;
    width: 400px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

