.PlayerStatsPage {
    text-align: center;
    background-color: rgba(228, 228, 228, 0.733);
    background-size: 800px;
}

.PlayerIcon{}

.PlayerBio{}

.playerPortrait {
    align-self: center;    
}