.PlayerStatsPage {
    background-color: rgba(228, 228, 228, 0.733);
    background-size: 800px;
    display: flex;
    flex-direction: row;
}

.playerIcon{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    position: absolute;
}

.streamPlayer{
    position: relative;
    justify-self: flex-start;
}

.PlayerBio{}


.streamPlayer {
    align-self: flex-end;
    justify-self: right;
}