.PlayerStatsPage {
    background-color: rgba(228, 228, 228, 0.733);
    background-size: 800px;
}

.PlayerIcon{}

.PlayerBio{}

.playerPortrait {
    align-self: center;    
}

.streamPlayer {
    align-self: flex-end;
    justify-self: right;
}